.*

!.gitignore
!.scalafmt.conf
.cache
/.classpath
db
dist
.DS_Store
**/*.DS_Store
eclipse
*.eml
.history
.idea
/.idea_modules
*.iml
lib
lib_managed
log
logs
modules
/out
precompiled
/.project
project/project
project/target
/RUNNING_PID
server.pid
/.settings
target
.target
test-result
tmp
.idea_modules
bin
app/assets/configuration.json
app/assets/javascripts/calculation.js
app/assets/static
app/assets/index.html
app/assets/asset-manifest.json
app/assets/service-worker.js
app/assets/precache-manifest.*
app/assets/favicon.ico
app/assets/robots.txt
project/metals.sbt
*/target
react/build
react/coverage
/node_modules
/react/node_modules
/react/src/calculation.js
npm-debug.log*
/react/coverage/
