.govuk-error-summary {
  margin-bottom: 0;
  padding: 20px;
  color: #0b0c0c;
  border: 5px solid #d4351c;
}

.govuk-error-summary__title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
}

.govuk-error-summary__body {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.31579;
}

.govuk-error-summary__list {
  margin-top: 0;
  margin-bottom: 0;
}

.govuk-list {
  font-size: 19px;
  line-height: 1.31579;
  list-style-type: none;
  padding-left: 0;
}

.govuk-list>li {
  margin-bottom: 5px;
}

.govuk-error-summary__list a:link, .govuk-error-summary__list a:visited, .govuk-error-summary__list a:hover, .govuk-error-summary__list a:active {
  color: #d4351c;
  font-weight: 700;
}

td.error-cell,
tr.active td.error-cell {
  background-color: #D4351C;
}

td.error-cell input,
.table-wrapper tbody tr.active td.error-cell input {
  background-color: #D4351C;
}
