$govuk-assets-path: "/lib/govuk-frontend/govuk/assets/";
@import "node_modules/govuk-frontend/govuk/all";
$hmrc-assets-path: "/lib/hmrc-frontend/hmrc/";
@import "node_modules/hmrc-frontend/hmrc/all";

#root .hmrc-internal-header__logo-link::before {
  content: "";
  display: table-cell;
  background: url('../assets/hmrc-crown-logo_black.svg') no-repeat;
  background-size: 100% 100%;
  width: 52px;
  height: 32px;
}

#root .column-toggle {
  cursor: pointer;
  white-space: nowrap;
  width: 110px;
  img {
    display: inline-block;
    margin-left: 1.2ex;
    margin-bottom: -2px;
  }
}

#root .field-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  .field-col {
    margin-right: 1em;
    @media only screen and (max-width: 760px) {
      margin-right: 0;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 40em) {
  max-width: 40%;
}

#root .explanation-row {
  .explanation {
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    padding: 0 5px;
    text-align: right;
    @media only screen and (min-width: 40em) {
      padding: 1em 0;
    }
  }
}

// forms
.govuk-hint {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  @media (min-width: 40.0625em) {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

.govuk-label {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 5px;
  @media (min-width: 40.0625em) {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

.app-related-items {
  padding-top: 10px;
  border-top: 5px solid #1d70b8;
}

.result-announcement,
.value,
#results-totals,
#results-table,
td.readonly > span {
  &:focus {
    outline-color: $govuk-focus-colour;
  }
}