.form-group {
  margin-bottom: 30px;
}

.hint {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  color: #6f777b;
}

input.form-control, input[type="text"], input[type="password"], textarea.form-control, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.form-control-2-3, textarea.form-control-2-3, input.form-control-2-3[type="text"], input.form-control-2-3[type="password"] {
  width: 100%;
}

.form-control, textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta",Arial,sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  padding: 5px 4px 4px;
  border: 2px solid #0b0c0c;
}

@media (min-width: 641px) {
  .form-control-2-3, textarea.form-control-2-3, input.form-control-2-3[type="text"], input.form-control-2-3[type="password"] {
    width: 66.66%;
  }

  .form-control-1-8 {
    width: 12.5%;
  }

  .form-control-1-3 {
    width: 33.33%;
  }
}



.autocomplete__input:focus, .form-control:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 2px;
}

.form-label {
  padding-right: 4px;
}
@media (min-width: 641px) {
  .form-label {
    font-size: 19px;
    line-height: 1.31579;
  }
}
.form-label {
  font-family: "nta",Arial,sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}
.form-label, .form-label-bold {
  display: block;
  color: #0b0c0c;
  padding-bottom: 2px;
}




/* TABLES */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal;
}
div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
  border: none;
  margin: 0;
  padding: 0;
}

table thead th {
  font-weight: 700;
}
@media (min-width: 641px) {
  table th, table td {
    font-size: 19px;
    line-height: 1.31579;
  }
}

/* table th, table td {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  padding: 0.63158em 1.05263em 0.47368em 0;
  text-align: left;
  border-bottom: 1px solid #bfc1c3;
} */
table .numeric {
  text-align: right;
}
table thead th {
  font-weight: 700;
}
@media (min-width: 641px) {
  table th, table td {
    font-size: 19px;
    line-height: 1.31579;
  }
}







/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */

 .subsection {
  margin: 1.5em 0;
}

.subsection--wide {
  margin: 2.5em 0;
}

/**
 * Add/remove floats
 */
 .float--right {
  float: right !important;
}

.float--left {
  float: left !important;
}

.float--none {
  float: none !important;
}

/**
 * Text alignment
 */
.text--left {
  text-align: left !important;
}

.text--center {
  text-align: center !important;
}

.text--right {
  text-align: right !important;
}

/**
 * Add/remove margins
 */
.push {
  margin: 0 !important;
}

.push--top {
  margin-top: 0 !important;
}

.push--right {
  margin-right: 0 !important;
}

.push--bottom {
  margin-bottom: 0 !important;
}

.push--left {
  margin-left: 0 !important;
}

.push--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.push--sides {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.push-half {
  margin: 0 !important;
}

.push-half--top {
  margin-top: 0 !important;
}

.push-half--right {
  margin-right: 0 !important;
}

.push-half--bottom {
  margin-bottom: 0 !important;
}

.push-half--left {
  margin-left: 0 !important;
}

.push-half--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.push-half--sides {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.flush {
  margin: 0 !important;
}

.flush--top {
  margin-top: 0 !important;
}

.flush--right {
  margin-right: 0 !important;
}

.flush--bottom {
  margin-bottom: 0 !important;
}

.flush--left {
  margin-left: 0 !important;
}

.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/**
 * Add/remove paddings
 */
.soft {
  padding: 0 !important;
}

.soft--top {
  padding-top: 0 !important;
}

.soft--right {
  padding-right: 0 !important;
}

.soft--bottom {
  padding-bottom: 0 !important;
}

.soft--left {
  padding-left: 0 !important;
}

.soft--ends {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.soft--sides {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.soft-half {
  padding: 0 !important;
}

.soft-half--top {
  padding-top: 0 !important;
}

.soft-half--right {
  padding-right: 0 !important;
}

.soft-half--bottom {
  padding-bottom: 0 !important;
}

.soft-half--left {
  padding-left: 0 !important;
}

.soft-half--ends {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.soft-half--sides {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.hard {
  padding: 0 !important;
}

.hard--top {
  padding-top: 0 !important;
}

.hard--right {
  padding-right: 0 !important;
}

.hard--bottom {
  padding-bottom: 0 !important;
}

.hard--left {
  padding-left: 0 !important;
}

.hard--ends {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.hard--sides {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.align--middle {
  vertical-align: middle !important;
}

.align--top {
  vertical-align: top !important;
}

.inline-block {
  display: inline-block !important;
}

.display-block {
  display: block !important;
}

/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.informative {
  cursor: help !important;
}

/**
 * Mute an object by reducing its opacity.
 */
.muted {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
}

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 *
   <p class=proceed><a href=#>Read more...</a></p>
 *
 */
.proceed {
  text-align: right !important;
}



/**
 * Force no wrap on text
 */
.no-wrap {
  white-space: nowrap !important;
}

/**
* Force long character sequences to split over lines, e.g. email addresses
*/
.word-wrap {
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-all;
}



/* Typography */
.govuk-heading-xl, .app-prose-scope h1 {
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375;
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}
.govuk-heading-l, .app-prose-scope h2 {
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.04167;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.govuk-heading-m, .app-contact-panel__heading, .app-prose-scope h3 {
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}
.govuk-heading-s, .app-prose-scope h4 {
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

/* Focus styles */
.govuk-link:focus, a:focus, .app-step-nav-header__title:focus, .app-step-nav-related__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

/* Skip link */
.govuk-skip-link:link, .govuk-skip-link:visited, .govuk-skip-link:hover, .govuk-skip-link:active, .govuk-skip-link:focus {
  color: #0b0c0c;
}

.govuk-skip-link {
  padding-right: max(15px, calc(15px + env(safe-area-inset-right)));
  padding-left: max(15px, calc(15px + env(safe-area-inset-left)));
}

@media (min-width: 760px) {
  .govuk-skip-link {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
  }
}

.govuk-skip-link {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286;
  display: block;
  padding: 10px 15px;
}

.govuk-skip-link:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  background-color: #fd0;
}

.govuk-skip-link:active, .govuk-skip-link:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: inherit !important;
  overflow: visible !important;
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  white-space: inherit !important;
}






.button, 
.button:visited, 
.button.disabled:hover, 
.button[disabled="disabled"]:hover, 
.button[disabled]:hover, 
.button.disabled:hover, 
.button[disabled]:hover, 
.button--small, .button--small:visited, .button--small.disabled:hover, 
.button--small[disabled="disabled"]:hover, .button--small[disabled]:hover, 
.toggle__button--active, .toggle__button--active:hover, 
.toggle__button--active:focus, .button[disabled="disabled"] {
  background-color: #00703c;
}
@media (min-width: 641px) {
  .button {
    font-size: 19px;
    line-height: 1.31579;
  }
}
.button {
  text-transform: capitalize;
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  font-family: "nta",Arial,sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 .78947em 0 0;
}
.button {
  *overflow: visible;
}

.button:active, .button--small:active {
  -webkit-box-shadow: 0 0 0 #00703c;
  box-shadow: 0 0 0 #00703c;
}
input:focus, textarea:focus, select:focus, .button:focus {
  outline-offset: 0;
}
/* button:link, button:link:focus, button:hover, button:focus, button:visited, .button:link, .button:link:focus, .button:hover, .button:focus, .button:visited {
  color: #fff;
} */
.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #00823b;
  box-shadow: 0 0 0 #00823b;
}

.button:focus:not(:active):not(:hover) {
  border-color: #fd0;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 2px 0 #0b0c0c;
  box-shadow: 0 2px 0 #0b0c0c;
}
.button:focus {
  border-color: #fd0;
  outline: 3px solid transparent !important;
  -webkit-box-shadow: inset 0 0 0 1px #fd0;
  box-shadow: inset 0 0 0 1px #fd0;
}
.page-nav__link:focus, .js-enabled .add-focus, .modal-dialog__content:focus, .button:focus, details summary:focus, .error-summary:focus {
  outline-color: #ffdd00;
}
.button:focus {
  outline: 3px solid #ffbf47;
}





.govuk-button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #00703c;
  -webkit-box-shadow: 0 2px 0 #002d18;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}











/* Secondary button */
.govuk-button--secondary, .govuk-button--secondary:link, .govuk-button--secondary:visited, .govuk-button--secondary:active, .govuk-button--secondary:hover {
  color: #0b0c0c;
}
.govuk-button--secondary {
  background-color: #f3f2f1;
  -webkit-box-shadow: 0 2px 0 #929191;
  box-shadow: 0 2px 0 #929191;
}
.govuk-button--secondary:hover {
  background-color: #dbdad9;
}
.govuk-button--secondary, .govuk-button--secondary:link, .govuk-button--secondary:visited, .govuk-button--secondary:active, .govuk-button--secondary:hover {
  color: #0b0c0c;
}
.govuk-button:focus:not(:active):not(:hover) {
  border-color: #fd0;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 2px 0 #0b0c0c;
  box-shadow: 0 2px 0 #0b0c0c;
}
.govuk-button:focus {
  border-color: #fd0;
  outline: 3px solid transparent;
  -webkit-box-shadow: inset 0 0 0 1px #fd0;
  box-shadow: inset 0 0 0 1px #fd0;
}

/* Warning button */
.govuk-button--warning, .govuk-button--warning:link, .govuk-button--warning:visited, .govuk-button--warning:active, .govuk-button--warning:hover {
  color: #fff;
}
.govuk-button--warning {
  background-color: #d4351c;
  -webkit-box-shadow: 0 2px 0 #55150b;
  box-shadow: 0 2px 0 #55150b;
}
.govuk-button--warning:hover {
  background-color: #aa2a16;
}