.divider--top {
  border-top: 1px solid var(--border-divider);
}

.divider--bottom {
  border-bottom: 1px solid var(--border-divider);
}

.section--bottom {
  margin-bottom: 15px;
  padding-bottom: 15px;
}