.divider--top {
  border-top: 1px solid var(--border-divider);
}

.divider--bottom {
  border-bottom: 1px solid var(--border-divider);
}

.section--bottom {
  padding-bottom: 15px;
}

.section--top {
  padding-top: 15px;
}

.section-outer--bottom {
  margin-bottom: 15px;
}

.section-outer--top {
  margin-top: 15px;
}

.full {
  width: 100%;
}

/* Container */
.container {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container.container-block {
  display: block;
}

@media screen and (min-width: 760px) {
  .container {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container.stack-left {
    justify-content: flex-start;
  }

  .container.stack-right {
    justify-content: flex-end;
  }

  .container.column {
    flex-direction: column;
  }
}

@media screen and (min-width: 760px) {
  .container.half {
    flex-grow: 1;
    width: 50%;
  }

  .container.half + .half {
    margin-left: 4%;
  }

  .container.two-thirds {
    flex-grow: 1;
    width: 66.666%;
  }

  .container.two-thirds + .container {
    margin-left: 4%;
  }

  .container.third {
    flex-grow: 1;
    width: 33.3333%;
    box-sizing: border-box;
  }

  .container.third + .third {
    margin-left: 4%;
  }

  .container .item + .item {
    margin-left: 4%;
  }

  .container.quarter {
    flex-grow: 1;
    width: 25%;
  }

  .container.quarter + .quarter {
    margin-left: 4%;
  }
}


.container .item {
  flex-grow: 1;
}