.results .value {
  background-color: #E6E6E6;
  border: 2px solid var(--input-border);
  box-sizing: border-box;
  display: block;
  height: 36px;
  line-height: 36px;
  margin-bottom: 15px;
  padding: 0 5px;
}

.results .value.full {
  width: 100%;
}

.results .label{
  margin-bottom: 10px;
}

/* Widths */
@media screen and (min-width: 760px) {
  .results .value.inline {
    margin-right: auto;
  }

  .results .value.width-3 {
    width: 70px;
  }

  .results .value.width-8 {
    width: 180px;
  }
}

/* Save and Print */
.save-print-wrapper .label {
  font-weight: bold;
  margin-bottom: 10px;
}

.save-print-wrapper .value {
  margin-bottom: 20px;
}

.save-print-wrapper .results .value {
  background-color: transparent;
  border: none;
  height: auto;
  padding: 0;
}