.save-print-wrapper,
.save-print-wrapper table td,
.save-print-wrapper table th,
.save-print-wrapper .contribution-details,
.save-print-wrapper .contribution-details td, .save-print-wrapper table td
.save-print-wrapper .contribution-details th, .save-print-wrapper table th,
.save-print-wrapper .spaced-table-wrapper table td,
.save-print-wrapper .spaced-table-wrapper table th,
.save-print-wrapper .govuk-summary-list {
  color: #6F777B;
  font-size: 14px;
}

.save-print-wrapper table th {
  font-weight: 700;
  text-align: left;
}

.save-print-wrapper tr.active td {
  background: transparent;
}

/*.save-print-wrapper .section-heading*/
.save-print-wrapper .govuk-heading-l {
  color: #6F777B;
  font-weight: 400;
  font-size: 21px;
  margin: 20px 0 15px;
}

.save-print-wrapper .section-heading {
  color: #6F777B;
  font-weight: 400;
  font-size: 21px;
  margin: 0 0 15px;
}

.save-print-wrapper .details {
  border-bottom: 1px solid var(--border-divider);
  padding-top: 10px !important;
}

.save-print-wrapper .contribution-details {
  margin-top: 20px;
}

.save-print-wrapper .contribution-details th.lg {
  font-weight: 400;
}

.save-print-wrapper .contribution-details th,
.save-print-wrapper .contribution-details th.border {
  font-weight: 700;
  padding: 5px 0;
}

.save-print-wrapper .contribution-details td:not(.input) {
  padding-left: 0;
}

.save-print-wrapper .govuk-summary-list .govuk-summary-list__row {
  margin-bottom: 5px;
  overflow: hidden;
}
.save-print-wrapper .govuk-summary-list .govuk-summary-list__row dt,
.save-print-wrapper .govuk-summary-list .govuk-summary-list__row dd {
  float: left;
  width: 70%;
}

.save-print-wrapper .govuk-summary-list .govuk-summary-list__row dt {
  font-weight: 700;
  width: 30%;
}

.save-print-wrapper .spaced-table-wrapper {
  margin: 0;
}

.save-print-wrapper .spaced-table {
  border-spacing: 0;
}

.save-print-wrapper .spaced-table .right {
  text-align: left;
}

.save-print-wrapper .category-totals {
  border-color: var(--border-divider);
  border-style: solid;
  border-width: 0 0 1px;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

/* NI Due */
.ni-due {
  border-color: var(--border-divider);
  border-style: solid;
  border-width: 1px 0;
  padding: 20px 0;
  margin: 20px 0;
}

/* Typography */
.heading-sap-sm {
  font-size: 14px;
  font-weight: 700;
}

/* Resets - overwrite gov defaults */
.save-print-wrapper .govuk-summary-list {
  margin-bottom: 0;
}

.save-print-wrapper .govuk-summary-list__key, 
.save-print-wrapper .govuk-summary-list__value, 
.save-print-wrapper .govuk-summary-list__actions {
  border-bottom: 0;
}

.save-print-wrapper .govuk-summary-list__key, 
.save-print-wrapper .govuk-summary-list__value {
  display: block;
  padding: 0;
}

.save-print-wrapper .print-totals-inline .container {
  display: block;
}

.save-print-wrapper .print-totals-inline .container .label {
  display: inline;
  margin-right: 10px;
}

.save-print-wrapper .print-totals-inline .container .value {
  display: inline;
}

.save-print-wrapper .print-totals-inline .container.third {
  margin-left: 0;
}