table thead th, table td, table tbody th {
  border: none;
  font-weight: 400;
}

tr.active td {
  background: var(--active-highlight-bg);
}

.table-wrapper {
  border-color: #B1B4B6;
  border-style: solid;
  border-width: 1px 0;
  padding: 30px 0 15px;
}

.table-wrapper table td, .table-wrapper table th {
  font-size: 16px;
}

table.contribution-details {
  margin-bottom: 15px;
}

table.contribution-details input[type="text"] {
  border: none;
}

table.contribution-details input::placeholder {
  color: #505a5f;
}

table.contribution-details input:focus {
  /* outline: none; */

  outline: 3px solid #fd0;
  outline-offset: -3px;
  box-shadow: inset 0 0 0 5px;
}

table.contribution-details td:has(input:focus) {
  background: green !important;
}

.table-wrapper tbody td {
  line-height: 40px;
}

@media screen and (min-width: 760px) {
  .table-wrapper tbody td {
    line-height: 21px;
  }
}

.table-wrapper thead th, .table-wrapper tbody td, .table-wrapper tbody td.input {
  height: 40px;
}

@media screen and (min-width: 760px) {
  .table-wrapper thead th, .table-wrapper tbody td.input {
    padding: 0;
  }
}

@media screen and (min-width: 760px) {
  .table-wrapper thead th, .table-wrapper tbody td {
    height: 40px;
    padding: 0 10px;
  }
}

.table-wrapper thead th {
  background: var(--table-head-fill);
  border: 1px solid var(--table-head-border);
  font-weight: 400;
  color: #333333;
  text-align: left;
}

.table-wrapper thead tr.clear th {
  padding-left: 0;
}

.table-wrapper thead tr.clear th {
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--table-head-border);
  color: #0B0C0C;
  text-align: left;
}

.table-wrapper thead tr.clear th span {
  display: block;
  padding-left: 10px;
}

.table-wrapper thead tr.clear th:first-child span {
  padding-left: 0;
}

.table-wrapper thead tr.clear th.border span {
  border-left: 1px solid var(--table-head-border)
}

.table-wrapper thead tr.clear th.lg {
  font-size: 21px;
}

.table-wrapper tbody td {
  border: 1px solid var(--table-body-border);
  color: #333333;
}

.table-wrapper tbody tr.active td {
  border: 1px solid var(--active-highlight-border);
}

.table-wrapper tbody tr.active td input {
  background: var(--active-highlight-bg);
}


@media screen and (min-width: 760px) {
  .spaced-table-wrapper {
    margin: 0 -20px;
  }
}

.spaced-table {
  border-collapse: separate;
  border-spacing: 20px;
}

.spaced-table th {
  padding: 0;
}

.spaced-table td.input-cell, .spaced-table td.readonly {
  vertical-align: bottom;
}

@media screen and (min-width: 760px) {
  .spaced-table td.input-cell, .spaced-table td.readonly {
    padding: 0;
  } 
}

.spaced-table td.input-cell .form-group {
  margin-bottom: 0;
}

.spaced-table td.input-cell input {
  border: 2px solid var(--input-border);
  width: calc(100% - 14px);
  padding: 0 5px;
  height: 36px;
  line-height: 36px;
}

.spaced-table td.input-cell input.half {
  width: 50%;
}

.spaced-table .govuk-error-message {
  margin-bottom: 5px;
}

/* Totals table */
.totals {
  /* border-color: var(--border-divider);
  border-style: solid;
  border-width: 0 0 1px; */
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.totals-table td.readonly {
  padding-bottom: 0;
}

.totals-table th.error-line-label {
  padding-bottom: 0;
  vertical-align: bottom;
}

.totals-table th.error-line-label span {
  display: block;
  height: 40px;
  line-height: 40px;
}

.totals-table td.readonly span {
  background-color: #E6E6E6;
  border: 2px solid var(--input-border);
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
}

.totals-table td.right, .totals-table th.right {
  text-align: right;
}


/* Summary */
table.summary tr.sections th {
  padding-bottom: 10px;
}

.bor-bottom {
  border-color: var(--border-divider);
  border-style: solid;
  border-width: 0 0 1px;
}

/* Responsive Tables */
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
    /* Now like a table header */
    color: #505a5f;
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	  Cell labels
	*/
	.contribution-details td:nth-of-type(1):before { content: "Select period"; }
	.contribution-details td:nth-of-type(2):before { content: "Select NI category letter"; }
	.contribution-details td:nth-of-type(3):before { content: "	Enter gross pay"; }
	.contribution-details td:nth-of-type(4):before { content: "Employee"; }
  .contribution-details td:nth-of-type(5):before { content: "Employer"; }
  
  .totals-table td:nth-of-type(1):before { content: "Gross pay"; }
  .totals-table td:nth-of-type(2):before { content: "Net contributions"; }
  .totals-table td:nth-of-type(3):before { content: "Employee contributions"; }
  .totals-table td:nth-of-type(4):before { content: "Employer contributions"; }
  
  .category-totals td:nth-of-type(1):before { content: "Category"; }
  .category-totals td:nth-of-type(2):before { content: "Gross Pay"; }
  .category-totals td:nth-of-type(3):before { content: "Total"; }
  .category-totals td:nth-of-type(4):before { content: "Employee"; }
  .category-totals td:nth-of-type(5):before { content: "Employer"; }


  /* Totals */
  /* - tbody th */
  .totals-table tbody th.right {
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 50%;
  }

  #save-print-wrapper table td {
    height: 30px;
    line-height: 30px;
  }

  /* Overwrite margins for standard contribution table on non .input cells */
  #save-print-wrapper .contribution-details td {
    padding-left: 50%;
  }

  #save-print-wrapper td:before {
    top: 0;
  }
}

/* Contribution Details */
table.contribution-details td:not(.input) {
  padding-left: calc(50% + 10px);
}
@media screen and (min-width: 760px) {
  table.contribution-details td:not(.input) {
    padding-left: 10px;
  }
}

#save-print-wrapper th {
  height: 30px;
  line-height: 30px;
}
